html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #151718;
}

#wrapper {
    font-family: "Hack", monospace;
    font-size: 25px;
    line-height: 30%;
    color: white;

    display: grid;
    grid-template-columns: 100px 50px 1fr 50px 50px;
    grid-template-rows: 1fr 50px;
    row-gap: 100px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(calc(-50% - 50px), -50%);
}
#line-numbers {
    text-align: right;
    opacity: 10%;
    width: 30px;
    padding-right: 70px;
}
#code-field {
    grid-area: 1/ 2/ 2/ 6;
}
#info {
    grid-area: 2/ 2/ 3/ 3;
}
#retry {
    grid-area: 2/ 4/ 3/ 5;
}
#next {
    grid-area: 2/ 5/ 3/ 6;
}
.icon {
    width: 25px;
    height: 25px;
    opacity: 50%;
}
.icon:hover {
    opacity: 100%;
    cursor: pointer;
}
.icon:active {
    transform: scale(1.1);
}

.correct {
    /*background-color: rgba(0, 255, 0, .1);*/
    color: white;
}
.wrong {
    /*background-color: rgba(255, 0, 0, .1);*/
    color: red;
}
.plain {
    color: rgba(255, 255, 255, .3)
}
.highlighted {
    background-color: rgba(196, 196, 196, .5);
}
.invisible {
    opacity: 0;
}