html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #151718;
}

#wrapper {
    font-family: "Hack", monospace;
    font-size: 25px;
    line-height: 30%;
    color: white;

    position: absolute;
    max-width: 75%; /* TODO */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#line-numbers {
    opacity: 15%;
    float: left;
    padding-right: 75px;
}
#code-field {
    float: left;
}

.correct {
    /*background-color: rgba(0, 255, 0, .1);*/
    color: white;
}
.wrong {
    /*background-color: rgba(255, 0, 0, .1);*/
    color: red;
}
.plain {
    color: rgba(255, 255, 255, .5)
}
.highlighted {
    background-color: rgba(196, 196, 196, .5);
}
.invisible {
    opacity: 0;
}