html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #151718;
}

#code-field {
    font-family: "Hack", monospace;
    font-size: 25px;
    line-height: 40%;
    color: white;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.correct {
    background-color: rgba(0, 255, 0, .1);
}
.wrong {
    background-color: rgba(255, 0, 0, .1);
}
.plain {

}
.highlighted {
    background-color: rgba(242, 231, 80, .2);
}
.invisible {
    opacity: 0;
}